<h2>Here are all of the tasks by title:</h2>
  <ul>
    <li *ngFor="let task of tasks">{{task.title}}</li>
  </ul>
  <br>
  <h2>The First Task:</h2>
  <ul>
    <li *ngIf="tasks[0]">{{tasks[0]['title']}} - {{tasks[0].description}}; Completed? {{tasks[0].completed}}</li>
  </ul>
  <br>
  <h2>The Second Task:</h2>
  <ul>
    <li *ngIf="tasks[1]">{{tasks[1].title}} - {{tasks[1].description}}; Completed? {{tasks[1].completed}}</li>
  </ul> 
  <br>
  <h2>The Third Task:</h2>
  <ul>
    <li *ngIf="tasks[2]">{{tasks[2].title}} - {{tasks[2].description}}; Completed? {{tasks[2].completed}}</li>
  </ul> 
  <br>
  <h2>The Fourth Task:</h2>
  <ul>
    <li *ngIf="tasks[3]">{{tasks[3].title}} - {{tasks[3].description}}; Completed? {{tasks[3].completed}}</li>
  </ul> 
  



